
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    min-height: 100vh;
    background: #8d8a98;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

section.active{
    background: #567186;
}

section .container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .2);
    overflow: hidden;
}

section .container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .user .imgBox{
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}

section .container .user .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .user .formBox{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 1s;
}

section .container .user .formBox h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

section .container .user .formBox input{
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

section .container .user .formBox input[type="submit"]{
    max-width: 100px;
    background-color: #e73e49;/**/ 
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .container .user .formBox .signUp, .signIn{
    position: relative;
    margin: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}



/* --- for sign in section box --- */
section .container .user .formBox .signUp a{
    font-weight: 600;
    text-decoration: none;    
    color: #e73e49;
}

section .container .signInBox .formBox{
    top: 0;
}

section .container.active .signInBox .formBox{
    top: 100%;
}

section .container .signInBox .imgBox{
    top: 0;
    transition: 0.5s;
}

section .container.active .signInBox .imgBox{
    top: -100%;
}

/* section .container.active .signInBox{
    pointer-events: initial;
}

section .container .signInBox{
    pointer-events: none;
} */



 /* --- for sign up section box --- */
 section .container .signUpBox .formBox .signIn a{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

section .container .signUpBox .formBox input[type="submit"]{
    background: #677eff;
}

section .container .signUpBox .formBox{
    top: 100%;
}

section .container.active .signUpBox .formBox{
    top: 0;
}

section .container .signUpBox .imgBox{
    top: -100%;
    transition: 0.5s;
}

section .container.active .signUpBox .imgBox{
    top: 0;
}

section .container .signUpBox{
    pointer-events: none;
}

section .container.active .signUpBox{
    pointer-events: initial;
}



 /* --- device width controllor ---  */
@media (max-width: 900px ) {
    section .container{
        max-width: 400px;
    }
    section .imgBox{
        display: none;
    }
    section .container .user .formBox{
        width: 100%;
    }
}